/* UNIVERSAL STYLES (apply to all pages) */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  background-color: #a4bfb1;
  color: #333333;
  text-align: center;
}

/* Paragraphs */
p {
  text-align: right;
}

/* Table headers */
th {
  background-color: lightgray;
}

/* Links - Different styles for various states */
a:link {
  color: #3c479a;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

a:visited {
  color: #8e44ad;
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  color: #e0af53;
  text-decoration: underline;
  background-color: #2c3e50;
  padding: 2px 5px;
  border-radius: 3px;
}

a:active {
  color: #e74c3c;
  text-decoration: none;
  margin: 0 10px;
}

::selection {
  color: rgb(224, 175, 83);
  background-color:black;
}

 button {
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 10px;  
}

button:hover {
  background-color:#738174; 
}

/* INDEX PAGE ONLY */
.index header {
  background-color: #738174;
  color: white;
  padding: 25px;
  margin: 30px;
  text-align: left;
  border-radius: 10px;  

}

.index footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  margin: 10px 0;
}

.index ul{
	list-style-type: none;
}

/* PRODUCT PAGE */
h2 {
  background-color: #738174;
  color: white;
  padding: 25px;
  margin: 30px;
  text-align: center;
  border-radius: 10px;  

}

ol li, li.product {
  list-style: none;
  padding: 15px;
  margin: 15px auto;
  border-radius: 10px;  
  background-color: #fff;
  width: 250px;
  text-align: center;
}


/* CONTACT PAGE */
form {
  padding: 15px;
  border-radius: 10px;  
  background-color: #fff;
  width: 250px;
  text-align: left;
  margin: 30px auto;
}

.contact header {
  background-color: #738174;
  color: white;
  padding: 25px;
  margin: 30px;
  text-align: center;
  border-radius: 10px;  

}

body.contact {
  text-align: center;
}

ul.contact {
	list-style-type: none;
}